.result {
  height: 40px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 20px;
  margin: 5px;

}

.calculator-body {
  max-width: 300px;
  margin: auto;
  color: rgb(0, 1, 58);
  font-weight: bold;
}

.button {
  display: block;
  background-color: whitesmoke;
}

button {
  width: 25%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: gray;

}